{
    "version":1,
    "link":"https://raw.githubusercontent.com/piaudonn/SecurityNotifications/main/config/seen.config",
    "mailFrom":"piaudonn@sentinellab.xyz",
    "replyTo":"no-reply@sentinellab.xyz",
    "saveToSentItems":false,
    "timeZone":"Canada/Eastern",
    "testEmail":"piaudonn@sentinellab.xyz",
    "contact" : {
        "supportEmail":"support@sentinellab.xyz",
        "supportPhone": "(555) 123-1111"
    },
    "modules": {
        "mfa" : {
            "testMode":true,
            "subject":"Your security information has changed",
            "ccManager":true,
            "bcc":"piaudonn@sentinellab.xyz",
            "includeGuests":false
        },
        "tap" : {
            "testMode":true,
            "subject":"Temporary Access Pass activity was detected on your account",
            "ccManager":false,
            "bcc":"",
            "includeUsage":false
        } 
    }
}
