{
    "version":"1.1",
    "link":"https://raw.githubusercontent.com/piaudonn/SecurityNotifications/main/config/seen.config",
    "mailFrom":"security@contoso.com",
    "replyTo":"no-reply@scontoso.xyz",
    "saveToSentItems":false,
    "timeZone":"Canada/Eastern",
    "testEmail":"test@contoso.com",
    "contact" : {
        "supportEmail":"support@contoso.com",
        "supportPhone": "(555) 123-1111"
    },
    "versionManagement": {
        "notifyAdmins":true,
        "checkFrequencyInDays":15,
        "adminEmail":"admin@contoso.com",
        "subject":"A new version of SEEN is available!"
    },
    "modules": {
        "mfa" : {
            "testMode":true,
            "subject":"Your security information has changed",
            "ccManager":false,
            "bcc":"",
            "includeGuests":false
        },
        "tap" : {
            "testMode":true,
            "subject":"Temporary Access Pass activity was detected on your account",
            "ccManager":false,
            "bcc":"",
            "includeUsage":false
        },
        "travel" : {
            "testMode":true,
            "subject":"You are connecting from an unusual location with your account",
            "ccManager":false,
            "bcc":"",
            "includeDismissed":false
        } 
    }
}
