{Header}

<p class="seen_title">Your Multi-Factor-Authentication methods have changed!</p>

Hello {UserFirstName}, we recently detected the following changes on your personal security information:<p />

{Activities}
<p />
⚠️ If you did not do this, please contact <a href="{SupportEmail}">{SupportEmail}</a>", or call {SupportPhoneNumber} immediately.<p />
<p />
You can view, edit and delete your Multi Factor Authentication methods in your <a href="https://aka.ms/mysecurityinfo">MySecurityInfo</a> page.<p />

{Footer}
