{Header}

<p class="seen_title">Temporary Access Pass activities were detected</p>

Hello {UserFirstName}, we recently detected Temporary Access Pass (TAP) activities on your account. This allows you to access your account without providing your password or when you do not have access to MFA methods.
You must have talked to the helpdesk to obtain such a TAP. Here are the activities we have seen:<p />

{Activities}
<p />
If you did not recall requesting a TAP, or using one, please contact <a href="{SupportEmail}">{SupportEmail}</a>", or call {SupportPhoneNumber} immediately.<p />

You can also review your <a href="https://mysignins.microsoft.com">activities</a> and report suspicious signins.<p />

{Footer}
